
.header{
    		position: fixed;
    		top: 0;
    		left: 0;
    		width: 100%;
    		padding: 20px 10%;
    		background: transparent;
    		display: flex;
    		justify-content: space-between;
    		align-items: center;
    		z-index: 100;
		}
		.navbar a { 
    		display: inline-block;
    		font-size: 20px;
    		color: #fff;
    		text-decoration: none;
    		font-weight: 500;
    		margin-left: 65px;
    		transition: .3s;
    		animation: slideTop .5s ease forwards;
    		animation-delay: calc(.2s * var(--i));
		}
		.navbar a:hover,
		.navbar a.active{
    		color: #0ef;
		body {
			font-family: Arial, sans-serif;
			background-color: #1f242d;
			background-size: cover;
			background-repeat: no-repeat;
		}
		h1 {
			text-align: center;
			margin-top: 20px;
			margin-bottom: 40px;
			color: #ffffff;
            		transition: .3s;
            		animation: slideTop .5s ease forwards;
            		animation-delay: calc(.2s * var(--i));
			padding-top:60px
		}
		form {
			max-width: 500px;
			margin: 0 auto;
			padding: 50px;
			background-color: rgba(255,255,255,0.9);
			border-radius: 5px;
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
            opacity: 0;
            animation: slideLeft 1s ease forwards;
            animation-delay: 1s;
		}
		label {
			display: block;
			margin-bottom: 10px;
			color: #666;
		}
		input[type="text"], textarea {
			width: 100%;
			padding: 10px;
			margin-bottom: 20px;
			border: none;
			border-radius: 3px;
			background-color: #f2f2f2;
			box-shadow: inset 0px 0px 5px 0px #0ef;
			font-size: 16px;
			color: #333;
		}
		input[type="submit"] {
			background-color: #0ef;
			color: #fff;
			border: none;
			border-radius: 3px;
			padding: 10px 20px;
			cursor: pointer;
			transition: background-color 0.2s;
			font-size: 16px;
		}
		input[type="submit"]:hover {
			background-color: #006666;
		}
		.message {
			color: green;
			margin-top: 10px;
			display: none;
		}
		@media screen and (max-width: 500px) {
			form {
				padding: 10px;
			}
			input[type="submit"] {
				font-size: 14px;
			}
			h1 {
				font-size: 24px;
			}
		}
        @keyframes slideTop{
            0%{
                transform: translateY(100px);
                opacity: 0;
            }
            100%{
                transform: translateY(0);
                opacity: 1;
            }
        }
        @keyframes slideLeft{
            0%{
                transform: translateX(100px);
                opacity: 0;
            }
            100%{
                transform: translateX(0);
                opacity: 1;
            }
        }
